*.pyc
*/**/__pycache__/
/ENV
.pytest_cache/
.notebooks/
.scripts/

*.vscode/
*.egg-info/
build/
dist/

docs/site/

*.gdb/
*.mxd
.ipynb_checkpoints/

# test data (that may have been extracted locally)
tests/data/rainfall/sample_rainfall_rasters
tests/data/landscape/sample_landscape_rasters
