[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pint = "*"
click = "*"
tqdm = "*"
requests = "*"
petl = "*"
marshmallow = "*"
dataclasses = "*"
marshmallow-dataclass = "*"
whitebox = "*"

[requires]
python_version = "3.8"
